body {
    font-family: Arial, sans-serif;
    background-color: #dfeb00;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  #app {
    margin-top: 50px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
  }
  